* text=auto
*.md text eol=lf
*.yml text eol=lf
*.ps1 text eol=lf
*.cs text eol=lf
*.cpp text eol=lf
*.h text eol=lf
*.sha256 text eol=lf
*.patch text eol=lf whitespace=-blank-at-eof,-space-before-tab,-trailing-space
Dockerfile text eol=lf
*.service text eol=lf
*.env.example text eol=lf
*.csproj text eol=lf
